<header>
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul>
        <% if logged_in? %>
          <li><%= link_to "Log Out", logout_path, method: 'delete' %></li>
        <% else %>          
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>