<header>
  <div class="container">
    <nav>
      <ul>
        <% if !@user.nil? %>
          <li><%= link_to "Log Out", logout_path, method: 'delete' %></li>
        <% else %>          
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>